@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
  scrollbar-gutter: stable;
}

body {
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

.prose :not(pre) > :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  border-radius: 8px;
  background: #e7e5e4;
  color: #f472b6;
  padding: .15em .3em .05em;
}

pre [data-highlighted-line] {
  margin-left: -16px;
  padding-left: 12px;
  border-left: 4px solid #f472b6;
  background-color: #c8c8ff1a;
  display: block;
  padding-right: 1em;
}

@media (prefers-color-scheme: dark) {
  .prose :not(pre) > :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    background: #404040;
    color: #fbcfe8;
  }

  pre [data-highlighted-line] {
    border-left: 4px solid #fbcfe8;
  }
}


.prose :not(pre) > :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
  content: "";
}

.prose :not(pre) > :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
  content: "";
}



